<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Form</title>
    {% load static %}
</head>
<body>
    <link rel="stylesheet" href="{% static 'add_product.css' %}">
    <div class="form-container" style="margin-top: 80px;">
    
        <h2>Add Product Details</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="product-id">Product ID:</label>
                <input type="text" id="product-id" name="product_id" required value="{{data.pid}}">
            </div>

            <div class="form-group">
                <label for="name">Product Name:</label>
                <input type="text" id="name" name="name" required value="{{data.name}}">
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4" required>{{data.dis}}</textarea>
            </div>

            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" required value="{{data.price}}">
            </div>

            <div class="form-group">
                <label for="offer-price">Offer Price:</label>
                <input type="number" id="offer-price" name="offer_price" value="{{data.offer_price}}">
            </div>

            <div class="form-group">
                <label for="stock">Stock Quantity:</label>
                <input type="number" id="stock" name="stock" required value="{{data.stock}}">
            </div>

            <div class="form-group">
                <label for="image">Product Image:</label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            <div>
                <img src="{{data.img.url}}" alt="" style="width: 100px; height: 100px;">
            </div>
            <div class="form-group">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</body>
</html>
